.coloring1{
   background-color:#3D5656;
   
}
.coloring2{
    background-color:#3D5656;
}

.headings{
    font-family: 'Bebas Neue', cursive;
}

.texts{
    font-family: 'Source Serif Pro', serif;
}
.about{
    font-family: 'Patrick Hand', cursive;
    font-size: 150px;
    text-align: center;
}
.textcolor{
    color:#0008C1;
}
.coloring4{
background-color: #D6E4E5;
}